.pf-topology-control-bar {
  position: absolute;
  bottom: 0;
  left: var(--pf-t--global--spacer--400);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary {
  margin-right: var(--pf-t--global--spacer--100);
  margin-top: var(--pf-t--global--spacer--100);
  padding: var(--pf-t--global--spacer--200) var(--pf-t--global--spacer--300);
  border: none;
  border-radius: var(--pf-t--global--border--radius--small);
  box-shadow: var(--pf-t--global--box-shadow--sm);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:not(.pf-m-disabled) {
  background-color: var(--pf-t--global--background--color--100);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:after {
  display: none;
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:hover {
  border: none;
  box-shadow: var(--pf-t--global--box-shadow--md);
}
