.pf-topology-control-bar {
  position: absolute;
  bottom: var(--pf-v6-global--spacer--md);
  left: var(--pf-v6-global--spacer--xl);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary {
  margin-right: var(--pf-v6-global--spacer--xs);
  margin-top: var(--pf-v6-global--spacer--xs);
  border: none;
  border-radius: var(--pf-v6-global--BorderRadius--sm);
  box-shadow: var(--pf-v6-global--BoxShadow--sm);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:not(.pf-m-disabled) {
  background-color: var(--pf-v6-global--BackgroundColor--100);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:after {
  display: none;
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:hover {
  border: none;
  box-shadow: var(--pf-v6-global--BoxShadow--md);
}
