.pf-topology-content {
  background-color: var(--pf-t--global--background--color--secondary--default);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pf-topology-container {
  flex: 1;
}