.ws-extensions-t-about-topology,
.ws-extensions-t-anchors,
.ws-extensions-t-control-bar,
.ws-extensions-t-context-menu,
.ws-extensions-t-custom-edges,
.ws-extensions-t-custom-nodes,
.ws-extensions-t-drag-and-drop,
.ws-extensions-t-layouts,
.ws-extensions-t-pan-and-zoom,
.ws-extensions-t-selection,
.ws-extensions-t-sidebar,
.ws-extensions-t-toolbar {
  height: 600px;
  border: 1px solid var(--pf-v5-global--palette--black-900);
  padding: 0;
  margin: var(--pf-v5-global--spacer--md);
}

@media (min-width: 768px) {
  .topology-example-sidebar.pf-topology-side-bar.shown {
    max-width: 300px;
  }
}

.pf-theme-dark .ws-extensions-t-about-topology,
.pf-theme-dark .ws-extensions-t-anchors,
.pf-theme-dark .ws-extensions-t-control-bar,
.pf-theme-dark .ws-extensions-t-context-menu,
.pf-theme-dark .ws-extensions-t-custom-edges,
.pf-theme-dark .ws-extensions-t-custom-nodes,
.pf-theme-dark .ws-extensions-t-layouts,
.pf-theme-dark .ws-extensions-t-pan-and-zoom,
.pf-theme-dark .ws-extensions-t-selection,
.pf-theme-dark .ws-extensions-t-sidebar,
.pf-theme-dark .ws-extensions-t-toolbar {
  border: 1px solid var(--pf-v5-global--palette--black-100);
}

.ws-extensions-t-topology .pf-v5-l-stack {
  margin: -9px;
  width: calc(100% + 18px);
}

.ws-extensions-t-topology .pf-topology-view__project-toolbar .pf-v5-c-dropdown>button {
  justify-content: space-between;
  width: 150px;
}

.ws-extensions-t-topology .topology-view-filter-dropdown>button {
  justify-content: space-between;
  width: 130px;
}
