[id^=ws-extensions-e-] {
  height: 600px;
  margin: var(--pf-t--global--spacer--md);

  .ws-example-page-wrapper & {
    margin: 0;
  }
}

.pf-topology-visualization-surface {
  border: 1px solid var(--pf-t--global--border--color--default);
}

@media (min-width: 768px) {
  .topology-example-sidebar.pf-topology-side-bar.shown {
    max-width: 300px;
  }
}
