name: build-lint-test
on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_PR_NUM: ${{ github.event.number }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          if [[ ! -z "${GH_PR_NUM}" ]]; then 
            echo "Checking out PR"
            git fetch origin pull/$GH_PR_NUM/head:tmp
            git checkout tmp
          fi
      - uses: actions/setup-node@v1
        with:
          node-version: '18'
      - run: yarn install --frozen-lockfile
      - name: generate
        run: cd packages/module && yarn generate
      - name: Build dist
        run: yarn build
  lint:
    runs-on: ubuntu-latest
    env:
      GH_PR_NUM: ${{ github.event.number }}
    needs: build
    steps:
      - uses: actions/checkout@v2
      - run: |
          if [[ ! -z "${GH_PR_NUM}" ]]; then 
            echo "Checking out PR"
            git fetch origin pull/$GH_PR_NUM/head:tmp
            git checkout tmp
          fi
      - uses: actions/setup-node@v1
        with:
          node-version: '18'
      - run: yarn install --frozen-lockfile
      - name: ESLint
        run: yarn lint:js
      - name: MDLint
        run: yarn lint:md
  test_jest:
    runs-on: ubuntu-latest
    env:
      GH_PR_NUM: ${{ github.event.number }}
    needs: build
    steps:
      - uses: actions/checkout@v2
      # Yes, we really want to checkout the PR
      - run: |
          if [[ ! -z "${GH_PR_NUM}" ]]; then 
            echo "Checking out PR"
            git fetch origin pull/$GH_PR_NUM/head:tmp
            git checkout tmp
          fi
      - uses: actions/setup-node@v1
        with:
          node-version: '18'
      - run: yarn install --frozen-lockfile
      - name: generate
        run: cd packages/module && yarn generate
      - name: Build dist
        run: yarn build
      - name: PF4 Jest Tests
        run: yarn test --maxWorkers=2
  test_a11y:
    runs-on: ubuntu-latest
    env:
      GH_PR_NUM: ${{ github.event.number }}
    needs: build
    steps:
      - uses: actions/checkout@v2
      # Yes, we really want to checkout the PR
      - run: |
          if [[ ! -z "${GH_PR_NUM}" ]]; then 
            echo "Checking out PR"
            git fetch origin pull/$GH_PR_NUM/head:tmp
            git checkout tmp
          fi
      - uses: actions/setup-node@v1
        with:
          node-version: '18'
      - run: yarn install --frozen-lockfile
      - name: generate
        run: cd packages/module && yarn generate
      - name: Build dist
        run: yarn build
      - name: Build docs
        run: yarn build:docs
      - name: A11y tests
        run: yarn serve:docs & yarn test:a11y
